* {
    /* outline: 1px solid red; */
    --fieldBorder: 15px solid rgb(43, 15, 3);
    --fieldBorderSize: 10px;
    --maxFieldWidth: 1150px;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
}

#container {
    background-image: url(./images/marble.jpg);
    display: grid;
    grid-template-rows: 1.25fr .5fr 6fr 1fr;
    height: 100%;
    width: 100%;
    justify-items: center;
    background-size: 100%;
}

#playoptions {
    grid-row: 1 / 2;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    max-width: var(--maxFieldWidth);
}

.option {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(119, 48, 1);
    color: white;
}

.whostarts {
    grid-row: 2 / 3;
}

#board {
    width: 80%;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, minmax(33.333%, 1fr));
    grid-template-rows: repeat(3, minmax(33.3333%, 1fr));
    max-width: var(--maxFieldWidth);
    
}

.space {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackPiece, .whitePiece {
    width: 85%;
    height: 85%;
    background-size: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.blackPiece {
    background-image: url(./images/black_piece.png); 
}

.whitePiece {
    background-image: url(./images/white_piece.png);
}

.space:nth-child(2n+1) {
    background-color: rgb(119, 48, 1);
}

.space:nth-child(2n) {
    background-color: rgb(255, 251, 232);
}

.space:nth-child(3n+1) {
    border-left: var(--fieldBorder);
}

.space:nth-child(3n+3) {
    border-right: var(--fieldBorder);
}

.space:nth-child(n+7) {
    border-bottom: var(--fieldBorder);
}

.space:nth-child(1), .space:nth-child(2), .space:nth-child(3) {
    border-top: var(--fieldBorder);
}

#footer {
    grid-row: 4 / -1;
    width: 80%;
    max-width: var(--maxFieldWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}